a {
    display: inline-block;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    background-color: rgb(8, 230, 175);
    color: rgb(255, 255, 255);
    padding: 4px 12px;
    border-radius: 18px;
    margin-bottom: 10px;
}

a:hover {
    background-color: rgb(45, 178, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-box-shadow: 5px 3px 10px 0px rgba(31, 59, 66, 0.1);
    -moz-box-shadow: 5px 3px 10px 0px rgba(31, 59, 66, 0.1);
    box-shadow: 5px 3px 10px 0px rgba(31, 59, 66, 0.1);
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 img {
    height: 4rem;
}

a img {
    height: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.exercise {
    background-color: rgb(39, 54, 255);
}

.exercise:hover {
    background-color: rgb(180, 68, 255);
}