<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/foundation.min.css">
  <title>VueJS Menu</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>{{ title }}</h1>
    <ul>
      <template v-for="(parts, section) in links">
        <h3>
          {{ section }}
        </h3>
        <li v-for="(ref, name) in parts" v-if="parts.length !== 0">
          <a :href="ref">
            {{ name }}
          </a>
        </li>
      </template>
    </ul>
  </div>
  <script src="app.js"></script>
</body>

</html>